{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'new/dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
   <link href="{% static 'new/dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main_website:stall_analytics' company_name=company_name stall_text=stall_text %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-grin-alt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Stall Name </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main_website:stall_analytics' company_name=company_name stall_text=stall_text %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main_website:stall_add_documents' company_name=company_name stall_text=stall_text %}">
          <i class="fas fa-folder-open"></i>
          <span>My Documents</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main_website:stall_add_sales_representatives' company_name=company_name stall_text=stall_text%}">
          <i class="fas fa-users"></i>
          <span>Sales Representatives</span></a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <div id="content-wrapper" class="d-flex flex-column">


      <div id="content">


        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
              <div style = "margin-top: 20px;" class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              </div>

          </ul>

        </nav>


        <div class="container-fluid">

          
          <h1 class="h3 mb-2 text-gray-800">Stall's Sales Representatives</h1>
          <p>Representatives can be easily added or deleted from here.</p>
          <button class="btn btn-primary btn-icon-split mb-4" data-toggle="modal" data-target="#newRepresentative" data-whatever="Edit">
            <span class="text">New Representative</span>
          </button>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Manage Documents</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Designation</th>
                      <th>Update</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in sales_representative %}
                    <tr>
                      <td>{{data.1}}</td>
                      <td>{{data.2}}</td>
                      <td>{{data.3}}</td>
                      <td>{{data.4}}</td>
                      <td>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{data.0}}" data-whatever="Edit">Edit</button>
                      </td>
                    </tr>
                   {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
    
  <div class="modal fade" id="newRepresentative" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'main_website:new_representative' company_name=company_name stall_text=stall_text %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Name</label>
              <input type="text" class="form-control" name = "name" id="recipient-name" value={{data.1}}>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email</label>
              <input type="text" class="form-control" name = "email" id="recipient-name" value={{data.2}}>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Mobile</label>
              <input type="text" class="form-control" name = "mobile" id="recipient-name" value={{data.3}}>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Designation</label>
              <input type="text" class="form-control" name = "designation" id="recipient-name" value={{data.4}}>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </div>
    </form>
    </div>
  </div>



  {% for data in sales_representative %}
  <div class="modal fade" id="modal{{data.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'main_website:update_representative' company_name=company_name stall_text=stall_text %}">
              {% csrf_token %}
              <input type="hidden" name= "id" value={{data.0}}>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name</label>
                <input type="text" class="form-control" name = "name" id="recipient-name" value={{data.1}}>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email</label>
                <input type="text" class="form-control" name = "email" id="recipient-name" value={{data.2}}>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Mobile</label>
                <input type="text" class="form-control" name = "mobile" id="recipient-name" value={{data.3}}>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Designation</label>
                <input type="text" class="form-control" name = "designation" id="recipient-name" value={{data.4}}>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Update">
          </div>
        </div>
      </form>
      </div>
    </div>
    {% endfor %}
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- <script>
      // $('#editModal').on('show.bs.modal', function (event) {
      //   var button = $(event.relatedTarget) // Button that triggered the modal
      //   var recipient = button.data('whatever') // Extract info from data-* attributes
      //   // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      //   // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      //   var modal = $(this)
      //   modal.find('.modal-title').text('New message to ' + recipient)
      //   modal.find('.modal-body input').val(recipient)
      // })


      $('#newModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
      })
  </script> -->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'new/dashboard/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'new/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'new/dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'new/dashboard/js/sb-admin-2.min.js' %}"></script>
</body>

</html>
