{% extends 'main_website/base_owner.html' %}
{% load static %}
{% block content %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
	<div style="display:hidden;" class='current_user' name='{{ user.mobile }}' id = "{{ current_user.id }}">
</div>
    {% include 'new/everypage_chat.html' %}



<script>
    document.getElementById('chatbox').style.display = "block";
</script>
{% endblock %}



